accepted = [
  "AGPL-3.0-or-later",
  "AGPL-3.0",
  "GPL-3.0",
  "MPL-2.0",
  "Apache-2.0",
  "MIT",
  "BSD-3-Clause",
  "ISC",
  "Zlib",
  "BSL-1.0",
  "CC0-1.0",
  "Unicode-DFS-2016",
  "Unicode-3.0",
  "bzip2-1.0.6",
]
